@import url('https://fonts.cdnfonts.com/css/poppins');

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .background {
    width: 100%;
    position: absolute;
  }

  .image {
    width: 20.4375em;
    height: 13.75em;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
  }

  section {
    box-sizing: border-box;
  }

  body {
    background: #e5e5e5;
  }

  .back {
    background-color: #fff;
    border-bottom-left-radius: 10%;
  }

  .headline {
    background-position: absolute;
    background-image: url(img/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 36.696875em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.125em 1.5em;
    gap: 0.75em;
    width: 23.4375vm;
    height: 37.75em;
    left: calc(50% - 37.75em / 2);
    top: 5.75em;
  }

  .logop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625em 1.25em;
    width: 6.25em;
    height: 1.5em;
    left: 0.75em;
    top: calc(50% - 2.5em / 2);
  }

  .mylogo {
    width: 4.75em;
    height: 1.25em;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    height: 2.5em;
    right: 1.5em;
    top: calc(50% - 2.5em / 2);
    border-radius: 0.5em;
  }

  .linkedin {
    display: flex;
    flex-direction: row;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    height: 37.75em;
  }

  .body2 {
    width: 20.4375em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #344563;
    height: 9.125em;
    left: 1.5em;
    right: 1.5em;
    top: 23em;
    border-radius: nullpx;
    bottom: 12.75em;
    margin-top: 0;
  }

  .vector {
    width: 10%;
    height: 8%;
    gap: 27%;
    justify-content: center;
    margin-left: 1em;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    left: 0;
    flex-direction: row;
    right: 0;
    top: 2.75em;
    bottom: 0;
    background-color: #fff;
  }

  ul {
    display: flex;
  }

  .link {
    color: #344563;
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  button {
    border: none;
    appearance: none;
    background-color: inherit;
    padding: 0 4em;
    margin-left: 3em;
  }

  button:active {
    color: #0d10bd;
  }

  .primery-text,
  .body2,
  .connect,
  .link,
  .prim-text,
  .abt,
  .frame,
  .lang,
  .btn,
  .mylogo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .primery-text {
    gap: 0.5em;
    width: 20.4375vm;
    height: 5.375em;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #172b4d;
    left: 1.5em;
    right: 1.5em;
    top: 12.875em;
    bottom: 22.625em;
    border-radius: nullpx;
    margin-bottom: 0;
  }

  .vector li {
    padding-right: 0.1em;
  }

  .connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5em;
    width: 17.3125em;
    height: 1.5em;
    left: 1.5em;
    right: 14.625em;
    bottom: 10.5em;
    top: 32.875em;
    color: #7f8cff;
  }

  .works {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 3em;
    margin-top: 3em;
  }

  .cardwok-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 6em;
    width: 23.4375em;
    height: 34.5em;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 0.0625em;
    margin-left: 0;
  }

  .snapshoot {
    width: 100%;
    height: 15%;
    border-radius: 1.125em;
  }

  .leftblock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 295px;
    height: 288px;
  }

  .primery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .project-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    height: 1em;
    font-weight: 700;
    font-size: 2em;
    line-height: 2.75em;
    color: #172b4d;
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.75em;
    width: 14.75em;
    height: 2em;
  }

  .client {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    width: 55px;
    height: 32px;
  }

  .client p {
    width: 55px;
    height: 16px;

    /* Caption / 1 - Bolder */

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .counter {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
  }

  .role {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    width: 88px;
    height: 32px;
  }

  .role p {
    width: 88px;
    height: 16px;

    /* Caption / 1 - Bolder */

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .year {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    width: 29px;
    height: 32px;
  }

  .year p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .pri {
    width: 18.4375em;
    height: 4.75em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375em;
    line-height: 1.5em;
    color: #344563;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 13.375em;
    height: 1.5em;
  }

  .tag {
    list-style-type: none;
    border-radius: 0.005em;
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-left: 0;
    width: 23.4em;
  }

  .tag li {
    background: #ebebff;
    box-sizing: border-box;
    border-radius: 1.5625em;
    color: #7f8cff;
    width: 6.25em;
    padding-left: 1em;
  }

  .btn {
    font-size: 1em;
    color: #7f8cff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75em;
    gap: 0.625em;
    width: 10.875em;
    height: 3em;
    left: 0;
    border: 0.0625em  solid #6070ff;
    border-radius: 0.5em;
    margin-left: 0;
  }

  .Action {
    width: 18.4375em;
    height: 4.5em;
    margin-top: 0.625em;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.125em 1.5em;
    gap: 7.5em;
    width: 23.005em;
    height: 76.384375em;
    left: calc(50% - 23.4375em / 2);
    top: 219.125em;
    background-color: #fff;
    border-top-right-radius: 10%;
    margin-top: 3em;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.75em;
    width: 20.4375em;
    height: 21.625em;
  }

  .prim-text {
    width: 20.4375em;
    height: 2.1875em;
    font-weight: 700;
    font-size: 40px;
    line-height: 2.5em;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .abt {
    width: 20.4375em;
    height: 9.1875em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #344563;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1em;
    width: 12.5em;
    height: 5em;
  }

  .supportingtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5em;
    width: 7.3125em;
    height: 1.5em;
  }

  .frame1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 12.5em;
    height: 2.5em;
  }

  /* .normal-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5em;
    width: 40px;
    height: 40px;
  }

  .aboutbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .btn-text {
    width: 138px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
  }
*/
  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 20.4375em;
    height: 29.009375em;
    margin-top: 3em;
  }

  .frame12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 20.4375em;
    height: 20.009375em;
  }

  .frame7 {
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .union {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2.5em;
    width: 1.05em;
    height: 0.97em;
    right: 2.5em;
    top: calc(50% - 2.5em / 2);
    margin-left: 8em;
    border-radius: 0.5em;
  }

  .lang {
    height: 1.5em;
    left: 0.75em;
    right: 4.875em;
    top: calc(50% - 1.5em / 2);
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 0;
    padding: 0.625em 0.25em;
  }

  .languages-list {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0.75em;
    margin-left: 0;
    width: 19.4375em;
    height: 15.509375em;
  }

  .languages-list ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-left: 0;
    margin-left: 0;
  }

  .cont {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
  }

  .js {
    width: 18.9375em;
    height: 4.17em;
    background: #f7f7f9;
    border-radius: 0.5em;
    display: flex;
    align-content: center;
    flex-direction: row;
    gap: 15px;
  }

  .html {
    width: 18.9375em;
    height: 4.17em;
    background: #f7f7f9;
    border-radius: 0.5em;
    display: flex;
    align-content: center;
    flex-direction: row;
    gap: 15px;
  }

  .css {
    width: 18.9375em;
    height: 4.17em;
    background: #f7f7f9;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 15px;
  }

  .js img,
  .css img,
  .html img {
    width: 3em;
    height: 3em;
    left: 0.75em;
    top: calc(50% - 3em / 2 - 0.0225em);
    border: 1px solid #fff;
    border: 0;
    margin-top: 0.02em;
  }

  .frame8 {
    margin-top: 2em;
    justify-content: space-between;
    width: 20.4375em;
    height: 4.5em;
    display: flex;
    flex-direction: row;
  }

  .arrow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
    right: 1.625em;
    top: calc(50% - 2.5em / 2);
    margin-top: 1.5em;
    border-radius: 0.5em;
  }

  .disabled {
    width: 1.5em;
    height: 1.5em;
  }

  .frame {
    height: 1.5em;
    left: 0.75em;
    right: 4.875em;
    top: calc(50% - 1.5em / 2);
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 0;
    padding: 0.625em 0.25em;
  }

  hr {
    height: 0.0625em;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20em;
    background: #dfe1e6;
  }

  .frame9 {
    width: 20.4375em;
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
