@import url('https://fonts.cdnfonts.com/css/poppins');

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .TO-BE-HIDDEN,
  #TO-BE-HIDDEN {
    display: none;
  }

  .background {
    width: 100%;
    position: absolute;
  }

  .image {
    width: 20.4375em;
    height: 13.75em;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
  }

  section {
    box-sizing: border-box;
  }

  body {
    background: #e5e5e5;
  }

  .back {
    background-color: #fff;
    border-bottom-left-radius: 10%;
    width: 25em;
  }

  .headline {
    background-position: absolute;
    background-image: url(img/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 36.696875em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.125em 1.5em;
    gap: 0.75em;
    width: 23.4275vm;
    height: 37.75em;
    left: calc(50% - 37.75em / 2);
    top: 5.75em;
  }

  .logop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625em 1.25em;
    width: 6.25em;
    height: 1.5em;
    left: 0.75em;
    top: calc(50% - 2.5em / 2);
  }

  .mylogo {
    width: 4.75em;
    height: 1.25em;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    height: 2.5em;
    right: 1.5em;
    top: calc(50% - 2.5em / 2);
    border-radius: 0.5em;
  }

  .linkedin {
    display: flex;
    flex-direction: row;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    height: 37.75em;
  }

  .body2 {
    width: 20.4375em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #344563;
    height: 9.125em;
    left: 1.5em;
    right: 1.5em;
    top: 23em;
    border-radius: nullpx;
    bottom: 12.75em;
    margin-top: 0;
  }

  .vector {
    width: 10%;
    height: 8%;
    gap: 40%;
    justify-content: center;
    margin-left: 1em;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    left: 0;
    flex-direction: row;
    right: 0;
    top: 2.75em;
    bottom: 0;
    background-color: #fff;
  }

  ul {
    display: flex;
  }

  .link {
    color: #344563;
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  button {
    border: none;
    appearance: none;
    background-color: inherit;
    padding: 0 4em;
    margin-left: 3em;
  }

  button:active {
    color: #0d10bd;
  }

  .primery-text,
  .body2,
  .connect,
  .link,
  .prim-text,
  .abt,
  .frame,
  .lang,
  .btn,
  .bt,
  .mylogo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .primery-text {
    gap: 0.5em;
    width: 20.4375vm;
    height: 5.375em;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #172b4d;
    left: 1.5em;
    right: 1.5em;
    top: 12.875em;
    bottom: 22.625em;
    border-radius: nullpx;
    margin-bottom: 0;
  }

  .vector li {
    padding-right: 0.1em;
  }

  .connect {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5em;
    width: 20.3125em;
    height: 1.5em;
    left: 1.5em;
    right: 14.625em;
    bottom: 10.5em;
    top: 32.875em;
    color: #7f8cff;
  }

  .works {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 3em;
    margin-top: 3em;
  }

  .cardwok-1,
  .cardwok-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 0.002em;
    width: 23.4375em;
    height: 38.5em;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 0.0625em;
    margin-left: 0;
  }

  .snapshoot-1 {
    background-image: url(img/Snapshoot\ Portfolio.png);
    background-size: 20.4375em 15.75em;
    background-repeat: no-repeat;
  }

  .snapshoot2 {
    background-image: url(img/Snapshoot\ Portfolio2.png);
    background-size: 20.4375em 15.75em;
    background-repeat: no-repeat;
  }

  .snapshoot-3 {
    background-image: url(img/Snapshoot\ Portfolio3.png);
    background-size: 20.4375em 15.75em;
    background-repeat: no-repeat;
  }

  .snapshoot-4 {
    background-image: url(img/Snapshoot\ Portfolio4.png);
    background-size: 20.4375em 15.75em;
    background-repeat: no-repeat;
  }

  .snapshoot-1,
  .snapshoot2,
  .snapshoot-3,
  .snapshoot-4 {
    width: 100%;
    height: 45%;
    border-radius: 1.125em;
  }

  .leftbloack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 20.4375em;
    height: 18em;
    gap: 0.2em;
  }

  .primery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .project-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    height: 1em;
    font-weight: 700;
    font-size: 2em;
    line-height: 2.75em;
    color: #172b4d;
    margin-bottom: 1em;
    margin-top: 0;
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.75em;
    width: 14.75em;
    height: 2em;
  }

  .client {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    width: 55px;
    height: 32px;
  }

  .client h3 {
    width: 55px;
    height: 16px;

    /* Caption / 1 - Bolder */

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .counter {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
  }

  .role {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    width: 88px;
    height: 32px;
  }

  .role h3 {
    width: 88px;
    height: 16px;

    /* Caption / 1 - Bolder */

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .year {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    width: 29px;
    height: 32px;
  }

  .year h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .pri {
    width: 18.4375em;
    height: 4.75em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375em;
    line-height: 1.5em;
    color: #344563;
    margin-top: 0;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 13.375em;
    height: 1.5em;
  }

  .tag {
    list-style-type: none;
    border-radius: 0.005em;
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-left: 0;
    width: 15.4em;
  }

  .tag li {
    background: #ebebff;
    box-sizing: border-box;
    border-radius: 1.5625em;
    color: #7f8cff;
    width: 6.25em;
    padding-left: 1em;
  }

  .btn {
    font-size: 1em;
    color: #7f8cff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75em;
    gap: 0.625em;
    width: 7.875em;
    height: 3em;
    left: 0;
    border: 0.0625em  solid #6070ff;
    border-radius: 0.5em;
    margin-left: 0;
  }

  .bt {
    font-size: 1em;
    color: #7f8cff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75em;
    gap: 0.625em;
    width: 9.875em;
    height: 3em;
    left: 0;
    border: 0.0625em  solid #6070ff;
    border-radius: 0.5em;
    margin-left: 0;
  }

  .Action {
    width: 18.4375em;
    height: 4.5em;
    margin-top: 0.625em;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.125em 1.5em;
    gap: 7.5em;
    width: 23.437em;
    height: 76.384375em;
    left: calc(50% - 23.4375em / 2);
    top: 219.125em;
    background-color: #fff;
    border-top-right-radius: 10%;
    margin-top: 3em;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.75em;
    width: 20.4375em;
    height: 20.625em;
  }

  .prim-text {
    width: 20.4375em;
    height: 0.1875em;
    font-weight: 700;
    font-size: 40px;
    line-height: 2.5em;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-top: 1em;
  }

  .abt {
    width: 20.4375em;
    height: 9.1875em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #344563;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1em;
    width: 20.5em;
    height: 5em;
  }

  .connecth3 {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5em;
    width: 20.3125em;
    height: 1.5em;
    left: 1.5em;
    right: 14.625em;
    bottom: 10.5em;
    top: 32.875em;
    color: #7f8cff;
  }

  .frame1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 12.5em;
    height: 2.5em;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 20.4375em;
    height: 29.009375em;
    margin-top: 3em;
  }

  .frame12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 20.4375em;
    height: 20.009375em;
  }

  .frame7 {
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .union {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2.5em;
    width: 1.05em;
    height: 0.97em;
    right: 2.5em;
    top: calc(50% - 2.5em / 2);
    margin-left: 8em;
    border-radius: 0.5em;
  }

  .lang {
    height: 1.5em;
    left: 0.75em;
    right: 4.875em;
    top: calc(50% - 1.5em / 2);
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 0;
    padding: 0.625em 0.25em;
  }

  .languages-list {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0.75em;
    margin-left: 0;
    width: 19.4375em;
    height: 15.509375em;
  }

  .languages-list ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-left: 0;
    margin-left: 0;
  }

  .cont {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
  }

  .js {
    width: 18.9375em;
    height: 4.17em;
    background: #f7f7f9;
    border-radius: 0.5em;
    display: flex;
    align-content: center;
    flex-direction: row;
    gap: 15px;
  }

  .html {
    width: 18.9375em;
    height: 4.17em;
    background: #f7f7f9;
    border-radius: 0.5em;
    display: flex;
    align-content: center;
    flex-direction: row;
    gap: 15px;
  }

  .css {
    width: 18.9375em;
    height: 4.17em;
    background: #f7f7f9;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 15px;
  }

  .js img,
  .css img,
  .html img {
    width: 3em;
    height: 3em;
    left: 0.75em;
    top: calc(50% - 3em / 2 - 0.0225em);
    border: 1px solid #fff;
    border: 0;
    margin-top: 0.02em;
  }

  .frame8 {
    margin-top: 2em;
    justify-content: space-between;
    width: 20.4375em;
    height: 4.5em;
    display: flex;
    flex-direction: row;
  }

  .arrow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
    right: 1.625em;
    top: calc(50% - 2.5em / 2);
    margin-top: 1.5em;
    border-radius: 0.5em;
  }

  .disabled {
    width: 1.5em;
    height: 1.5em;
  }

  .frame {
    height: 1.5em;
    left: 0.75em;
    right: 4.875em;
    top: calc(50% - 1.5em / 2);
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 0;
    padding: 0.625em 0.25em;
  }

  hr {
    height: 0.0625em;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20em;
    border-top: 1px solid #fff;
  }

  .frame9 {
    width: 20.4375em;
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .DESKTOP-HIDDEN,
  #DESKTOP-HIDDEN {
    display: none;
  }

  *html {
    margin: 0;
  }

  .languages-list ul {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    width: 42.75em;
    padding-left: 5em;
  }

  ul .TO-BE-HIDDEN {
    width: 2000.0625em;
    height: 1em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1em;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  li {
    list-style-type: none;
  }

  body {
    background: #e5e5e5;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    width: 70em;
    height: 4.5em;
    left: 0;
    top: 0;
    gap: 49.9375em;
  }

  .hidden {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5em;
    width: 128.625em;
    height: 2.5em;
    left: 64.9375em;
    top: calc(50% - 2.5em / 2);
  }

  .hidden li {
    width: 3.875em;
    height: 1.25em;
    font-weight: 500;
    font-size: 15px;
    line-height: 0.9375em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .icon {
    display: none;
  }

  .logop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625em 1.25em;
    width: 6.25em;
    height: 2.5em;
    left: 8.9375em;
    top: calc(50% - 2.5em / 2);
  }

  .lang,
  .role,
  .contac-p .contac-prim,
  .mylogo,
  .primery-text,
  .body2,
  .hidden li,
  .connect,
  .project-title,
  .pri,
  .year,
  .prim-text,
  .abt,
  .connecth3,
  .bt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .mylogo {
    width: 4.75em;
    height: 1.25em;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  .back {
    background-color: #fff;
    border-bottom-left-radius: 10%;
    width: 77em;
    height: 57.25em;
    left: 0;
    top: 0.0625em;
  }

  .headline {
    padding: 0.125em 1.5em;
    width: 75em;
    height: 52.875em;
    left: 0;
    top: 4.4375em;
    background-position: absolute;
    background-image: url(img/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10.125em;
    padding-left: 13.25em;
    gap: 0.075em;
    width: 57.5em;
    height: 16.75em;
    top: calc(50% - 16.75em / 2);
  }

  .primery-text {
    width: 57.5em;
    height: 7.625em;
    font-weight: 700;
    font-size: 3em;
    line-height: 3.75em;
    display: flex;
    align-items: center;
    letter-spacing: 0.023125em;
    color: #091e42;
    margin-bottom: 0;
  }

  .body2 {
    width: 47.5em;
    height: 6.125em;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.75em;
    color: #344563;
    margin: 0;
  }

  .connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5em;
    width: 10.3125em;
    height: 1.5em;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    color: #7f8cff;
  }

  .vector {
    display: flex;
    flex-direction: row;
    gap: 2.625em;
    width: 10.635625em;
    height: 1.25em;
    left: 6.25em;
    top: 40.125em;
    padding-left: 0;
    margin-top: 0;
  }

  .vector li {
    list-style-type: none;
  }

  .works {
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 7.75em;
    gap: 8.875em;
    width: 90em;
    height: 168.375em;
    left: 0;
    top: 57.3125em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .cardwok-1 {
    display: grid;
    grid-template-columns: 34em 34em;
    width: 72.25em;
    height: 35em;
    background: #fff;
    border: 0.0625em solid #dfe1e6;
    border-radius: 0.0625em;
  }

  .cardwok-2 {
    display: flex;
    flex-direction: row;
    width: 72.25em;
    height: 35em;
    background: #fff;
    border: 0.0625em solid #dfe1e6;
    border-radius: 0.0625em;
  }

  .snapshoot-1 {
    left: 1.5em;
    top: 1.5em;
    background-image: url(img/Snapshoot\ Portfolio.svg);
    background-repeat: no-repeat;
    background-size: 34em 38em;
    border-radius: 0.5em;
    height: 100%;
    width: auto;
  }

  .snapshoot2 {
    order: 1;
    padding: 1.5em;
    left: 1.5em;
    top: 1.5em;
    background-image: url(img/Snapshoot\ Portfolio2.svg);
    background-repeat: no-repeat;
    background-size: 32em 28em;
    margin-top: 5em;
    width: 34em;
  }

  .snapshoot-3 {
    left: 1.5em;
    top: 1.5em;
    background-image: url(img/Snapshoot\ Portfolio3.svg);
    background-repeat: no-repeat;
    background-size: 32em 28em;
    margin-top: 5em;
  }

  .snapshoot-4 {
    order: 1;
    left: 1.5em;
    top: 1.5em;
    background-image: url(img/Snapshoot\ Portfolio4.svg);
    background-repeat: no-repeat;
    background-size: 32em 28em;
    margin-top: 5em;
    width: 34em;
  }

  .leftbloack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    padding-top: 0;
    gap: 0.5em;
    width: 34em;
    height: 27.8125em;
    left: 36.875em;
    top: 1.5em;
  }

  .leftbloack2 {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 0.5em;
    width: 34em;
    height: 27.8125em;
    left: 1.5em;
    top: 1.5em;
    margin-top: 0;
  }

  .primery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.75em;
    width: 31em;
    height: 2.125em;
    margin-bottom: 0;
  }

  .project-title {
    width: 31em;
    height: 1.875em;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3.25em;
    margin-top: 0;
    margin-bottom: 0;
    color: #091e42;
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.75em;
    width: 18.5625em;
    height: 2.5em;
  }

  .client {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0;
    color: #344563;
    width: 4.6875em;
    height: 1.5em;
    font-weight: 500;
    line-height: 1.6em;
    margin-right: 2em;
  }

  .counter {
    width: 0.5em;
    height: 0.5em;
    background: #c1c7d0;
  }

  .role {
    width: 7.5em;
    height: 3.5em;
    font-weight: 400;
    font-size: 0.5em;
    line-height: 1.5em;
    color: #6b778c;
  }

  .year {
    width: 2.375em;
    height: 3.5em;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5em;
    color: #6b778c;
  }

  .pri {
    width: 31em;
    height: 5.625em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #344563;
    margin-top: 0;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
  }

  .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 3.3125em;
    height: 1.5em;
    border-radius: 0.5em;
    gap: 1em;
    padding-left: 0;
  }

  .tag li {
    background: #ebebff;
    box-sizing: border-box;
    border-radius: 1.5625em;
    color: #7f8cff;
    width: 6.25em;
    padding-left: 1em;
  }

  #ruby {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    width: 6em;
  }

  .Action {
    width: 18.4375em;
    height: 4.5em;
    margin-top: 0.625em;
  }

  .btn {
    font-size: 1em;
    color: #7f8cff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75em;
    gap: 0.625em;
    width: 7.875em;
    height: 3em;
    left: 0;
    border: 0.0625em  solid #6070ff;
    border-radius: 0.5em;
    margin-left: 0;
    background-color: white;
  }

  .about-section {
    background-color: #fff;
    border-top-right-radius: 10%;
    display: flex;
    flex-direction: row;
    height: 40.75em;
    width: 75em;
  }

  .top {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3em;
    gap: 0.75em;
    width: 27.9375em;
    height: 14.9375em;
  }

  .prim-text {
    width: 27.9375em;
    height: 2.0625em;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3.25em;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #091e42;
  }

  .abt {
    margin-top: 0;
    width: 27.9375em;
    height: 6.375em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #344563;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1em;
    margin-bottom: 5em;
    width: 12.5em;
    height: 5em;
  }

  .connecth3 {
    width: 7.3125em;
    height: 1.5em;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    color: #7f8cff;
  }

  .bt {
    font-weight: 500;
    font-size: 1.0625em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #fff;
    border-radius: 8px;
    color: #396df2;
    border: 1px solid #6070ff;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .frame12 {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    align-items: flex-start;
    padding: 0;
    width: 42.75em;
    height: 13.5em;
  }

  .frame7 {
    display: flex;
    flex-direction: row;
    gap: 0.625em;
    justify-content: space-around;
    width: 42.75em;
    height: 4.5em;
  }

  .lang {
    height: 1.5em;
    left: 1.5em;
    right: 4.875em;
    top: 37.5%;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #344563;
    margin-top: 0;
  }

  .union {
    left: 25%;
    right: 25%;
    top: 37.5%;
    bottom: 37.5%;
    width: 0.75em;
    height: 0.375em;
  }

  .languages-list li {
    width: 7.625em;
    height: 7.5em;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .frame8,
  .frame9 {
    display: flex;
    flex-direction: row;
    width: 42.75em;
    height: 4.5em;
    padding-left: 5em;
  }

  .frame8 {
    gap: 20em;
  }

  .frame9 {
    gap: 24.7em;
  }

  .arrow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
    right: 1.625em;
    top: calc(50% - 2.5em / 2);
    border-radius: 0.5em;
  }

  .frame {
    height: 1.5em;
    left: 1.5em;
    right: 4.875em;
    top: calc(50% - 1.5em / 2);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #344563;
  }

  hr {
    height: 0.0625em;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 0.0625em solid #fff;
    width: 30em;
    margin-left: 4em;
  }

  .contact {
    width: 75em;
    height: 52.875em;
    left: 0;
    top: 320.3125em;
    border-radius: [object object]px;
    background-image:
      url(img/mini-contact-img.svg),
      url(img/contact\ form-\ background-shape-desktop.svg);
    background-repeat: no-repeat;
    background-size: 65em 44.91875em, 90em 52.875em;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1em;
    margin-top: 0;
  }

  .form-ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0;
    justify-content: center;
  }

  .about-contact {
    background-color: white;
    width: 75em;
  }

  .contact-prim {
    width: 55.0625em;
    height: 3.5em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3.25em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    padding-left: 10em;
    margin-top: 2em;
  }

  .contact-body {
    width: 35.5625em;
    height: 6.375em;
    left: 1.5em;
    top: 300.125em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.75em;
    text-align: center;
    color: #ebebff;
    margin-left: 10em;
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  #name,
  #mail {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 0.0625em solid #cfd8dc;
    border-radius: 0.5em;
    height: 3em;
    width: 27.9375em;
    margin-left: 25em;
  }

  #name::placeholder {
    color: #172b4d;
  }

  #mail::placeholder {
    color: #172b4d;
  }

  #txtarea::placeholder {
    color: #b3bac5;
  }

  label {
    display: none;
  }

  #txtarea {
    height: 10.625em;
    width: 27.9375em;
    left: 1.5em;
    top: 320.3125em;
    border-radius: 0;
    margin-right: 1em;
    margin-left: 25em;
  }

  .get-in-touch {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #6070ff;
    background: #fff;
    border-radius: 8px;
    padding: 12px 16px;
    margin-left: 23em;
  }

  .get-in-touch :hover {
    box-shadow: #020736;
  }
}
